<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>来了老铁</title>
</head>
<body>
<table border="1">
	<div style="height: 100%;width: 100%">
		<h1 style="width: 100%;align-content: center">欢迎光临</h1>
		<form >
			<ul>
				<li>用户名：<input th:type="input" name="username" style="width: 20vw"></li>
				<li>密　码：<input th:type="password" name="password" style="width: 20vw"></li>
				<li><input th:type="submit"></li>
			</ul>
		</form>

		<hr>
		<p>单文件上传</p>
		<form action="upload" method="post" enctype="multipart/form-data">
			文件:<input type="file" name="file"/>
			<input type="submit" value="上传文件">
		</form>
		<hr>
		<br>
		<br>
		<br>
		<hr>
			<p>多文件上传</p>
		<form action="batch" method="post" enctype="multipart/form-data">
			<p>文件1：<input type="file" name="file"></p>
			<p>文件2：<input type="file" name="file"></p>
			<p><input type="submit" value="上传两个文件"></p>
		</form>

		<hr>
		<hr>

        <form action="download" method="post" enctype="multipart/form-data">
            <input type="submit" value="下载文件">
        </form>

        ----测试上传文件----<br>
        <form action="upload" method="post" enctype="multipart/form-data">
            单文件:<input type="file" name="headImager"/>
            多文件:<input type="file" name="photos" multiple/>
            <input name="userName" type="text">
            <input type="submit" value="上传文件">
        </form>

	</div>
</table>
</body>
</html>
