<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>来了老铁</title>
</head>
<body>
<table border="1">
	<div style="height: 100%;width: 100%">
		<h1 style="width: 100%;align-content: center">欢迎光临</h1>
		<form th:action="">
			<ul>
				<li>用户名：<input th:type="input" name="username" style="width: 20vw"></li>
				<li>密　码：<input th:type="password" name="password" style="width: 20vw"></li>
				<li><input th:type="submit"></li>
			</ul>
		</form>
	</div>
</table>
</body>
</html>
